/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Specific to the Speech Reports webapp */

.display {
    width: 1915px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#main {
    height: 1460px;
}

img.fit {
    height: 100%;
    margin: auto;
}

img.backgroundImg {
    height: 100%;
    width: 100%;
    position: absolute;
}

div.char {
    height: 423px;
    width: 500px;
    position: absolute;
}

div.dropSpot {
    height: 200px;
    width: 200px;
    position: absolute;
    z-index:1;
}

.char .dropSpot {
    bottom: 100px;
    right: 0;
}

.dropTarget {
    border: medium dashed yellow;
}

#narrator {
    bottom:100px;
    left:100px;
}

#c1 {
    bottom: 400px;
    left: 650px;
}

#c2 {
    bottom: 100px;
    left: 1200px;
}

#objStart {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: 100px;
    left: 850px;
}

#takeGoal {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 400px;
    right: 50px;
    z-index: 0;
}

#goalImg {
    right:0;
}

#takeGoal .dropSpot {
    top: 150px;
    left: 0;
}