/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Specific to the Speech Reports webapp */

#main {
    width: 525px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img.backgroundImg {
    width:100%;
    height:100%;
    position: absolute;
}

.char {
    height: 150px;
    width: 150px;
    position: absolute;
}
    
img.charImg {
    height:100%;
    margin:auto;
}

#narrator {
    top:200px;
    left:50px;
}

#char1 {
    top: 100px;
    left: 180px;
}

#char2 {
    top: 200px;
    right: 50px;
}

.target {
    width: 67px;
    height: 67px;
    position: absolute;
}

#objStart {
    height: 67px;
    width: 67px;
    position: absolute;
    bottom: 20px;
    left: 180px
}

img.objImg {
    height: 100%;
    margin: auto;
}

#narrTarget {
    top: 250px;
    left: 200px;
}

#c1Target {
    top:150px;
    left:330px;
}

#c2Target {
    top:250px;
    right:10px;
}
