/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

#subjForm {
    margin: auto;
    width: 425px;
    height: 200px;
    font-family: Verdana,Arial,sans-serif;
    font-size:1.1em;
}

#book {
    position: fixed;
    height: 100vh;
    width: 100%;
}

.page, #characterCheck {
    position: relative;
    height: 100%;
    text-align: center;
}

#scene1, #scene2 {
    width: max-content;
    margin: auto;
}

.page div {
    position: absolute;
}

.checkChar {
    height: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
}

img {
    height: 100%;
}

div.char {
    height: 29%;
}

div.introNarr {
    height: 40%;
    bottom: 10%;
    left: 40%;
}

#objStart {
    height: 14%;
}

#objStart img {
    position: absolute;
}

#takeGoal {
    height: 22%;
    z-index: 0;
}

.dragObj {
    z-index: 1;
}

.char .dragObj {
    height: 30%;
    margin-left: -10%;
}

button.cornerButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
