/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Specific to the Speech Reports webapp */

body {
    margin: 0;
}

.checkChar {
    height: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
}

#book {
    position: relative;
    height: 90vh;
    margin: auto;
    text-align: center;
}

.page {
    position: relative;
}

img {
    height: 100%;
}

.backgroundImg {
    width: 100%
}

div.char {
    height: 29%;
    position: absolute;
}

.introNarr {
    position: absolute;
    height: 40%;
    bottom: 10%;
    left: 40%;
}

.objStart {
    height: 14%;
    position: absolute;
}

.objStart img {
    position: absolute;
}

#takeGoal {
    height: 22%;
    position: absolute;
    z-index: 0;
}

.dragObj {
    z-index: 1;
}

.char .dragObj {
    height: 30%;
    margin: -10%;
    top: 0;
    left: 0;
}

#takeGoal .dragObj {
    height: 30%;
    float: left;
    margin-right: -30%;
}

.undoButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cornerButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
