/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Specific to the Speech Reports webapp */

.book {
	position: relative;
	height: 90vh;
	margin: auto;
	text-align: center;
}

img {
    height: 100%;
}

div.char {
    height: 29%;
    position: absolute;
}

div.charObj {
    height: 30%;
    display: inline-block;
    z-index: 1;
    margin-left: -10%;
}

#introNarr {
    position: absolute;
    height: 40%;
    bottom: 10%;
    left: 40%;
}

.narrator {
    bottom:7%;
    left:5%;
}

.c1 {
    bottom: 28%;
    left: 33%;
}

.c2 {
    bottom: 7%;
    left: 60%;
}

#objStart {
    height: 14%;
    position: absolute;
    bottom: 7%;
    left: 33%;
}

#takeGoal {
    height: 25%;
    position: absolute;
    top: 40%;
    right: 4%;
    z-index: 0;
}

#takeGoal .dropSpot {
    margin-left: 0;
    margin-right: -10%;
}

#takeGoal .dropSpot img {
    display: block;
}

.dragObj {
    z-index: 1;
    display: inline-block;
}

.doneButton {
    color: yellow;
    position: absolute;
    top: 7%;
    right: 7%;
}
